
<h2>Testing Data API Story</h2>
<ul *ngIf="corestory">
  <li>there are {{corestory?.comments?.length}} comments</li>
  <li > {{ corestory | json }}</li>
</ul>

<h2>Testing Data new API Stories</h2>
<ng-container *ngIf="topStories" >

<ul>
  <li *ngFor="let story of topStories"> {{story | json}} </li>
</ul>
</ng-container>

<h2>Testing Data best API Stories</h2>
<ng-container *ngIf="bestStories" >
<ul>
  <li *ngFor="let story of bestStories"> {{story | json}} </li>

</ul>
</ng-container>

<h2>Testing Data API Comment</h2>
<ng-container *ngIf="apiComment" >
<ul>
  <li>{{ apiComment | json }}</li>
</ul>
</ng-container>

<router-outlet>

</router-outlet>
