 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.title {
  text-align: center;
  margin: 10px 0;
}

.header {
  position: sticky;
  margin: 20px 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
  row-gap: 10px;
  width: 100%;
  align-content: center;
}

.stories {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: 3px;
  padding: 0 2px;

}

.comments {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  /* grid-auto-rows: minmax(min-content, max-content); */
  padding: 0 2px;

}

