
<h2 class="title">Hacker News</h2>
<div class="main-container">
  <div class="stories">
    <h2 class="title">Stories</h2>
    <ng-container *ngIf="stories$">
      <div *ngFor="let story of stories$ | async">
        <app-story [story]="story" [isSelected]="story.id === highlightedStoryId"></app-story>
      </div>
    </ng-container>
  </div>
  <div class="comments">
  <h2 class="title">Comments</h2>
  <ng-container>
    <app-comments></app-comments>
  </ng-container>
  <div></div>


  </div>
</div>

