
.story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  cursor: pointer;
  background: #e9edc9;
  border-radius: 8px;
}

.link {
  grid-column-start: -1;
  align-self: center;
  margin-right: 5px;
}

.story-selected, .story-selected.story:hover{
  font-size: larger;
  background: yellowgreen;
}
