.story {
  background: #e9edc9;
  margin: 2px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.selected-story{
  color: blue;
  font-size: larger;
  background: #ccd5ae;
}

.story-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-container .content {
  padding: 6px;
}
