.comment{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #faedcd;
  border-radius: 8px;
  margin-bottom: 4px;
}
.author {
  grid-row-start: 1
}
.content {
  grid-row-start: -1;
}

.wrapper {
  margin: 2px 10px;
}

.comment:hover {
    background-color: #fefae0
  }
